body {
  margin: 0;
  padding: 0;
  text-align: left;
}
header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
main {
  border-bottom: 1px solid #ccc;
  position: relative;
}

p{
    margin-left: 50px;
}

ul {
  padding: 0;
  border-top: 1px solid #000000;
  display: table; /* 定義 */
  table-layout: fixed;
  width: 100%;
}

li {
  text-align: center;
  list-style-type: none;
  border: 1px solid #666;
  background-color: #fff;
  display: table-cell; /* 定義 */
  cursor: pointer;
}

li:hover {
  background: #0066cc;
  color: #fff;
}
input,
textarea {
  margin:0px 50px;
  width: 90%;
}
input {
  height: 30px;
}
textarea {
  height: 230px;
}

#date {
  width: 200px;
}

.area {
  padding: 10px;
  background-color: #fafafa;
  display: flex;
  flex-wrap: wrap;
  /* 折り返す */
}

#save {
  color: #fafafa;
  font-size: 18px;
  font-weight: bold;
  background: #222222;
  padding: 15px 100px;
  display: inline-block;
  text-decoration: none;
  margin: 0px 50px;
}
#save:hover {
  border-radius: 12px;
  transform: scale(1.1);
}

#form_top {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

#back_color {
  margin: 0px 50px;
  width: 100px;
  height: 50px;
}
.color_select {
  display: flex;
}

.sample_color {
  padding: 10px;
  border: 1px solid #333;
  transition: background-color 0.3s;
  font-size: 24px;
  box-shadow: 1px 1px 1px 1px #555;

}

.fusen{
  width: 300px;
  height: 300px;
  box-shadow: 1px 1px 1px 1px #555;
  margin: 10px;
  color: #0a0a0a;
  font-family: "Meiryo", "メイリオ", sans-serif;
}

.fusentop{
  display: flex;
}

.fusen:hover {
  transform: scale(1.01);
}